<img src="assets/icons/arrow-back.svg" class="pl-3 w-5 h-10">
<div class="flex flex-col items-center justify-center min-h-screen">

    <div class="flex flex-col items-center text-center bg-emerald-50 p-20" >
        <img class="mb-2">
        <h2 class="text-lg font-semibold">Success</h2>
        <p class="text-gray-600">
            Your order has been placed <br>
            and is being processed
        </p>
        <button class="mt-4 px-6 py-2 bg-blue-500 text-white rounded-lg">Got it!</button>    
    </div>
</div>