<div class="home-header bg-neutral-200 p-6">
    <h1 class="font-bold pb-1">Hello {{user}}!</h1>

    <div class="search-area flex flex-row gap-10 justify-center">
        <img src="assets/icons/Kyosk-Digital.svg" class="bg-zinc-100 p-2 w-50 h-full mt-1">
        <div class="search-button " id="search">
            <app-search></app-search>
        </div>
        
    </div>

    <div class="imageSlider">

        <!--Add slider component-->


    </div>

    <div class="offer-section">
        <h2>Get a special offfer for KSH 1000</h2>
        <p>Shop Smart, Save Big! For a limited time, enjoy up to 50% off on top <br>
            brands, Buy 1 Get 1 Free on select items.</p>
    </div>


</div>


<div class="home-categories p-5 border-r-3">

    <diV class="flex justify-between">
        <h2 class="text-sm">Categories</h2>
        <a href="" class="text-blue-600"> View More</a>
    </diV>

    <div class="category-slider">

    </div>

    <diV class="flex justify-between">
        <h3 class="text-sm">Food Products</h3>
        <a href="" class="text-blue-600"> View More</a>
    </diV>

</div>